In [1]:
import pandas as pd
import numpy as np

from data.source import AwsClient, Position, Extract
from data.reshape import Transform

# Config
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
aws = AwsClient()

In [3]:
aws.load_data_s3()

WARNING *** file size (60570) not 512 + multiple of sector size (512)
WARNING *** file size (71838) not 512 + multiple of sector size (512)
WARNING *** file size (71834) not 512 + multiple of sector size (512)
WARNING *** file size (69788) not 512 + multiple of sector size (512)
WARNING *** file size (60570) not 512 + multiple of sector size (512)
WARNING *** file size (60570) not 512 + multiple of sector size (512)
WARNING *** file size (60572) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (59546) not 512 + multiple of sector size (512)
WARNING *** file size (59546) not 512 + multiple of sector size (512)
WARNING *** file size (59546) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (59546) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (59546) not 512 + multiple of sector size (512)
WARNING *** file size (59546) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (78490) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (59548) not 512 + multiple of sector size (512)
WARNING *** file size (58524) not 512 + multiple of sector size (512)
WARNING *** file size (58522) not 512 + multiple of sector size (512)
WARNING *** file size (58522) not 512 + multiple of sector size (512)
WARNING *** file size (60572) not 512 + multiple of sector size (512)
WARNING *** file size (60570) not 512 + multiple of sector size (512)
WARNING *** file size (58526) not 512 + multiple of sector size (512)
WARNING *** file size (59034) not 512 + multiple of sector size (512)
WARNING *** file size (75418) not 512 + multiple of sector size (512)
WARNING *** file size (65692) not 512 + multiple of sector size (512)
WARNING *** file size (57498) not 512 + multiple of sector size (512)
WARNING *** file size (57500) not 512 + multiple of sector size (512)
WARNING *** file size (55452) not 512 + multiple of sector size (512)
WARNING *** file size (59470) not 512 + multiple of sector size (512)
WARNING *** file size (54430) not 512 + multiple of sector size (512)
WARNING *** file size (54428) not 512 + multiple of sector size (512)
WARNING *** file size (54426) not 512 + multiple of sector size (512)
WARNING *** file size (54426) not 512 + multiple of sector size (512)
WARNING *** file size (54428) not 512 + multiple of sector size (512)
WARNING *** file size (54426) not 512 + multiple of sector size (512)
WARNING *** file size (77466) not 512 + multiple of sector size (512)
WARNING *** file size (66716) not 512 + multiple of sector size (512)
WARNING *** file size (54428) not 512 + multiple of sector size (512)
WARNING *** file size (49820) not 512 + multiple of sector size (512)
WARNING *** file size (49820) not 512 + multiple of sector size (512)
WARNING *** file size (49822) not 512 + multiple of sector size (512)
WARNING *** file size (75420) not 512 + multiple of sector size (512)
WARNING *** file size (60572) not 512 + multiple of sector size (512)
WARNING *** file size (72346) not 512 + multiple of sector size (512)
WARNING *** file size (49820) not 512 + multiple of sector size (512)
WARNING *** file size (49820) not 512 + multiple of sector size (512)
WARNING *** file size (49820) not 512 + multiple of sector size (512)
WARNING *** file size (49818) not 512 + multiple of sector size (512)
WARNING *** file size (65696) not 512 + multiple of sector size (512)
WARNING *** file size (70812) not 512 + multiple of sector size (512)
WARNING *** file size (65180) not 512 + multiple of sector size (512)
WARNING *** file size (60572) not 512 + multiple of sector size (512)
WARNING *** file size (56476) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (56476) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (56476) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (57500) not 512 + multiple of sector size (512)
WARNING *** file size (56480) not 512 + multiple of sector size (512)
WARNING *** file size (56476) not 512 + multiple of sector size (512)
WARNING *** file size (60572) not 512 + multiple of sector size (512)
WARNING *** file size (60574) not 512 + multiple of sector size (512)
WARNING *** file size (56988) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (56474) not 512 + multiple of sector size (512)
WARNING *** file size (55452) not 512 + multiple of sector size (512)
WARNING *** file size (55450) not 512 + multiple of sector size (512)
WARNING *** file size (60572) not 512 + multiple of sector size (512)
WARNING *** file size (59550) not 512 + multiple of sector size (512)
WARNING *** file size (74908) not 512 + multiple of sector size (512)
WARNING *** file size (76956) not 512 + multiple of sector size (512)
WARNING *** file size (83612) not 512 + multiple of sector size (512)
WARNING *** file size (86174) not 512 + multiple of sector size (512)
WARNING *** file size (83612) not 512 + multiple of sector size (512)

In [4]:
position = Position(aws.df_list_pos)

## Position dataset

In [5]:
extract = Extract(2010, 2021, aws.extrato, aws.extrato_bolsa)

/Users/gabriellopes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/gabriellopes/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [6]:
transform = Transform()

df = transform.resume(position, extract)

/Users/gabriellopes/Documents/Pessoal/dev/new-finance-app/data/reshape.py:127: RuntimeWarning: divide by zero encountered in double_scalars
  rend_per_ = rend_ / df_[df_.index <= row]['aporte'].sum() * 100
/Users/gabriellopes/Documents/Pessoal/dev/new-finance-app/data/reshape.py:127: RuntimeWarning: divide by zero encountered in double_scalars
  rend_per_ = rend_ / df_[df_.index <= row]['aporte'].sum() * 100
/Users/gabriellopes/Documents/Pessoal/dev/new-finance-app/data/reshape.py:127: RuntimeWarning: divide by zero encountered in double_scalars
  rend_per_ = rend_ / df_[df_.index <= row]['aporte'].sum() * 100
/Users/gabriellopes/Documents/Pessoal/dev/new-finance-app/data/reshape.py:127: RuntimeWarning: divide by zero encountered in double_scalars
  rend_per_ = rend_ / df_[df_.index <= row]['aporte'].sum() * 100
/Users/gabriellopes/Documents/Pessoal/dev/new-finance-app/data/reshape.py:127: RuntimeWarning: invalid value encountered in double_scalars
  rend_per_ = rend_ / df_[df_.index <= row]['aporte'].sum() * 100

In [8]:
df.head()

,level_0,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado,rendimento,rendimento_percent,periodo_cont
0,5,5.00,BPAC11,200.00,33.24,"6,648.00",2020/3,3,2020,2020-03-31 00:00:00,0.00,"7,190.00",0.00,0.00,-542.00,-7.54,1
1,0,0.00,BPAC11,200.00,42.30,"8,460.00",2020/4,4,2020,2020-04-30 00:00:00,0.00,0.00,0.00,0.00,"1,812.00",27.26,2
2,43,43.00,BPAC11,200.00,48.84,"9,768.00",2020/5,5,2020,2020-05-29 00:00:00,0.00,0.00,0.00,0.00,"1,308.00",15.46,3
3,53,53.00,BPAC11,78.00,49.60,"1,934.40",2020/6,6,2020,2020-06-30 00:00:00,0.00,0.00,"15,500.00",0.00,"7,666.40",78.48,4
4,12,12.00,BPAC11,26.00,86.42,"2,246.92",2020/7,7,2020,2020-07-31 00:00:00,0.00,0.00,0.00,0.00,312.52,16.16,5

In [7]:
df_return = pd.DataFrame([])

for ativo in df['Papel'].unique():
    df_ = df[df['Papel'] == ativo].sort_values(by=['ano', 'mes']).reset_index()
    rendimento = []
    rendimento_percent = []
    periodo_cont = []
    count = 0

    for row in df_.index:
        if (df_[df_.index == row]['Financeiro'].sum() > 1) | (df_[df_.index == row]['retirada'].sum() > 1):
            if count == 0: # primeiro rendimento
                count += 1
                rend_ = df_[df_.index == row]['Financeiro'].sum() - df_[df_.index <= row]['aporte'].sum()
                rend_per_ = rend_ / df_[df_.index <= row]['aporte'].sum() * 100

                rendimento.append(rend_)
                rendimento_percent.append(rend_per_)
                periodo_cont.append(1)
            else:
                count += 1
                valor = df_[df_.index == row]['Financeiro'].sum()\
                            + df_[df_.index == row]['retirada'].sum()\
                            - df_[df_.index == row -1]['Financeiro'].sum()\
                            - df_[df_.index == row]['aporte'].sum()
                rend_per_ = valor / df_[df_.index == row - 1]['Financeiro'].sum() * 100
                rendimento.append(valor)
                rendimento_percent.append(rend_per_)
                periodo_cont.append(count)
                
        else:
            rendimento.append(0)
            rendimento_percent.append(0)
            periodo_cont.append(0)
            count = 0

    df_['rendimento'] = rendimento
    df_['rendimento_percent'] = rendimento_percent
    df_['periodo_cont'] = periodo_cont
    #df_['rendimento_acum'] = df_['rendimento'].cumsum()
    df_return = df_return.append(df_)

ValueError: cannot insert level_0, already exists

In [24]:
df_return.sort_values(['Papel', 'ano', 'mes']).head(200)

,level_0,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado,rendimento,rendimento_percent,periodo_cont
0,82,82.00,AAPL34,16.00,72.02,"1,152.32",2021/1,1,2021,2021-01-29 00:00:00,0.00,"1,126.88",0.00,0.00,25.44,2.26,1
1,100,100.00,AAPL34,16.00,69.69,"1,115.04",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00,-37.28,-3.24,2
0,68,68.00,AMZO34,48.00,109.30,"5,246.40",2020/12,12,2020,2020-12-30 00:00:00,0.00,"5,011.20",0.00,0.00,235.20,4.69,1
1,83,83.00,AMZO34,48.00,112.00,"5,376.00",2021/1,1,2021,2021-01-29 00:00:00,0.00,0.00,0.00,0.00,129.60,2.47,2
2,101,101.00,AMZO34,48.00,110.22,"5,290.56",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00,-85.44,-1.59,3
0,560,560.00,AZ Quest Multi FIC FIM,"1,516.42",9.95,"15,094.10",2017/3,3,2017,2017-03-31 00:00:00,0.00,"15,000.00",0.00,0.00,94.10,0.63,1
1,556,556.00,AZ Quest Multi FIC FIM,"1,516.42",10.00,"15,160.90",2017/4,4,2017,2017-04-28 00:00:00,0.00,0.00,0.00,0.00,66.80,0.44,2
2,552,552.00,AZ Quest Multi FIC FIM,"1,516.42",9.73,"14,749.34",2017/5,5,2017,2017-05-31 00:00:00,0.00,0.00,0.00,0.00,-411.56,-2.71,3
3,548,548.00,AZ Quest Multi FIC FIM,"1,516.42",9.80,"14,853.49",2017/6,6,2017,2017-06-30 00:00:00,0.00,0.00,0.00,0.00,104.15,0.71,4
4,544,544.00,AZ Quest Multi FIC FIM,"1,516.42",10.15,"15,389.53",2017/7,7,2017,2017-07-31 00:00:00,0.00,0.00,0.00,0.00,536.04,3.61,5
5,540,540.00,AZ Quest Multi FIC FIM,"1,516.42",10.32,"15,644.93",2017/8,8,2017,2017-08-31 00:00:00,0.00,0.00,0.00,0.00,255.40,1.66,6
6,536,536.00,AZ Quest Multi FIC FIM,"1,516.42",10.55,"16,004.66",2017/9,9,2017,2017-09-29 00:00:00,0.00,0.00,0.00,0.00,359.73,2.30,7
7,531,531.00,AZ Quest Multi FIC FIM,"1,516.42",10.51,"15,934.88",2017/10,10,2017,2017-10-31 00:00:00,0.00,0.00,0.00,0.00,-69.78,-0.44,8
8,526,526.00,AZ Quest Multi FIC FIM,"1,503.23",10.50,"15,784.72",2017/11,11,2017,2017-11-30 00:00:00,0.00,0.00,0.00,0.00,-150.16,-0.94,9
9,521,521.00,AZ Quest Multi FIC FIM,"1,503.23",10.62,"15,969.51",2017/12,12,2017,2017-12-28 00:00:00,0.00,0.00,0.00,0.00,184.79,1.17,10
10,509,509.00,AZ Quest Multi FIC FIM,"1,503.23",10.87,"16,347.11",2018/1,1,2018,2018-01-31 00:00:00,0.00,0.00,0.00,0.00,377.60,2.36,11
11,504,504.00,AZ Quest Multi FIC FIM,"1,503.23",11.03,"16,582.00",2018/2,2,2018,2018-02-28 00:00:00,0.00,0.00,0.00,0.00,234.89,1.44,12
12,499,499.00,AZ Quest Multi FIC FIM,"1,503.23",11.12,"16,712.40",2018/3,3,2018,2018-03-29 00:00:00,0.00,0.00,0.00,0.00,130.40,0.79,13
13,494,494.00,AZ Quest Multi FIC FIM,"1,503.23",11.13,"16,735.42",2018/4,4,2018,2018-04-30 00:00:00,0.00,0.00,0.00,0.00,23.02,0.14,14
14,489,489.00,AZ Quest Multi FIC FIM,"1,491.67",11.07,"16,509.69",2018/5,5,2018,2018-05-30 00:00:00,0.00,0.00,0.00,0.00,-225.73,-1.35,15
15,484,484.00,AZ Quest Multi FIC FIM,"1,491.67",11.21,"16,716.87",2018/6,6,2018,2018-06-29 00:00:00,0.00,0.00,0.00,0.00,207.18,1.25,16
16,479,479.00,AZ Quest Multi FIC FIM,"1,491.67",11.29,"16,837.61",2018/7,7,2018,2018-07-31 00:00:00,0.00,0.00,0.00,0.00,120.74,0.72,17
17,474,474.00,AZ Quest Multi FIC FIM,"1,491.67",11.28,"16,823.70",2018/8,8,2018,2018-08-31 00:00:00,0.00,0.00,0.00,0.00,-13.91,-0.08,18
18,469,469.00,AZ Quest Multi FIC FIM,"1,491.67",11.25,"16,786.05",2018/9,9,2018,2018-09-28 00:00:00,0.00,0.00,0.00,0.00,-37.65,-0.22,19
19,464,464.00,AZ Quest Multi FIC FIM,"1,491.67",11.53,"17,205.80",2018/10,10,2018,2018-10-31 00:00:00,0.00,0.00,0.00,0.00,419.75,2.50,20
20,724,724.00,AZ Quest Multi FIC FIM,"1,481.69",11.58,"17,164.88",2018/11,11,2018,2018-11-30 00:00:00,0.00,0.00,0.00,0.00,-40.92,-0.24,21
21,718,718.00,AZ Quest Multi FIC FIM,"1,481.69",11.61,"17,207.34",2018/12,12,2018,2018-12-28 00:00:00,0.00,0.00,0.00,0.00,42.46,0.25,22
22,694,694.00,AZ Quest Multi FIC FIM,"1,481.69",11.81,"17,497.00",2019/1,1,2019,2019-01-31 00:00:00,0.00,0.00,0.00,0.00,289.66,1.68,23
23,651,651.00,AZ Quest Multi FIC FIM,"1,481.69",11.75,"17,413.09",2019/2,2,2019,2019-02-28 00:00:00,0.00,0.00,0.00,0.00,-83.91,-0.48,24
24,618,618.00,AZ Quest Multi FIC FIM,"1,481.69",11.72,"17,370.50",2019/3,3,2019,2019-03-29 00:00:00,0.00,0.00,0.00,0.00,-42.59,-0.24,25
25,688,688.00,AZ Quest Multi FIC FIM,"1,481.69",11.72,"17,367.77",2019/4,4,2019,2019-04-30 00:00:00,0.00,0.00,0.00,0.00,-2.73,-0.02,26
26,421,421.00,AZ Quest Multi FIC FIM,"1,476.76",11.85,"17,496.02",2019/5,5,2019,2019-05-31 00:00:00,0.00,0.00,0.00,0.00,128.25,0.74,27
27,458,458.00,AZ Quest Multi FIC FIM,"1,476.76",12.10,"17,872.39",2019/6,6,2019,2019-06-28 00:00:00,0.00,0.00,0.00,0.00,376.37,2.15,28
28,452,452.00,AZ Quest Multi FIC FIM,"1,476.76",12.13,"17,914.04",2019/7,7,2019,2019-07-31 00:00:00,0.00,0.00,0.00,0.00,41.65,0.23,29
29,446,446.00,AZ Quest Multi FIC FIM,"1,476.76",12.16,"17,956.62",2019/8,8,2019,2019-08-30 00:00:00,0.00,0.00,0.00,0.00,42.58,0.24,30
30,645,645.00,AZ Quest Multi FIC FIM,"1,476.76",12.33,"18,214.14",2019/9,9,2019,2019-09-30 00:00:00,0.00,0.00,0.00,0.00,257.52,1.43,31
31,632,632.00,AZ Quest Multi FIC FIM,"1,476.76",12.54,"18,525.29",2019/10,10,2019,2019-10-31 00:00:00,0.00,0.00,0.00,0.00,311.15,1.71,32
32,607,607.00,AZ Quest Multi FIC FIM,"1,464.80",12.52,"18,345.13",2019/11,11,2019,2019-11-29 00:00:00,0.00,0.00,0.00,0.00,-180.16,-0.97,33
33,571,571.00,AZ Quest Multi FIC FIM,"1,464.80",12.74,"18,661.13",2019/12,12,2019,2019-12-31 00:00:00,0.00,0.00,0.00,0.00,316.00,1.72,34
34,639,639.00,AZ Quest Multi FIC FIM,"1,464.80",12.84,"18,801.04",2020/1,1,2020,2020-01-31 00:00:00,0.00,0.00,0.00,0.00,139.91,0.75,35
35,440,440.00,AZ Quest Multi FIC FIM,"1,464.80",12.95,"18,967.40",2020/2,2,2020,2020-02-28 00:00:00,0.00,0.00,0.00,0.00,166.36,0.88,36
36,751,0.00,AZ Quest Multi FIC FIM,0.00,0.00,0.00,0,3,2020,0,0.00,0.00,"18,591.84","18,591.84",-375.56,-1.98,37
0,752,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,6,2013,0,0.00,"5,000.00",0.00,0.00,0.00,0.00,0
1,753,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,8,2013,0,0.00,"10,200.00",0.00,0.00,0.00,0.00,0
2,754,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,11,2013,0,0.00,0.00,0.00,0.00,0.00,0.00,0
3,716,716.00,Azul Quantitativo FIM,"8,519.86",1.90,"16,166.59",2014/5,5,2014,2014-05-30 00:00:00,0.00,0.00,0.00,0.00,966.59,6.36,1
4,713,713.00,Azul Quantitativo FIM,"8,474.19",1.89,"16,006.63",2014/6,6,2014,2014-06-30 00:00:00,0.00,0.00,0.00,0.00,-159.96,-0.99,2
5,710,710.00,Azul Quantitativo FIM,"8,474.19",1.88,"15,913.56",2014/7,7,2014,2014-07-31 00:00:00,0.00,0.00,0.00,0.00,-93.07,-0.58,3
6,707,707.00,Azul Quantitativo FIM,"8,474.19",1.89,"16,004.89",2014/8,8,2014,2014-08-29 00:00:00,0.00,0.00,0.00,0.00,91.33,0.57,4
7,704,704.00,Azul Quantitativo FIM,"8,474.19",1.94,"16,421.65",2014/9,9,2014,2014-09-30 00:00:00,0.00,0.00,0.00,0.00,416.76,2.60,5
8,701,701.00,Azul Quantitativo FIM,"8,474.19",1.92,"16,307.95",2014/10,10,2014,2014-10-31 00:00:00,0.00,0.00,0.00,0.00,-113.70,-0.69,6
9,686,686.00,Azul Quantitativo FIM,"8,474.19",1.95,"16,487.15",2014/11,11,2014,2014-11-28 00:00:00,0.00,0.00,0.00,0.00,179.20,1.10,7
10,683,683.00,Azul Quantitativo FIM,"8,444.05",1.96,"16,548.83",2014/12,12,2014,2014-12-30 00:00:00,0.00,0.00,0.00,0.00,61.68,0.37,8
11,680,680.00,Azul Quantitativo FIM,"8,444.05",1.99,"16,791.35",2015/1,1,2015,2015-01-30 00:00:00,0.00,0.00,0.00,0.00,242.52,1.47,9
12,676,676.00,Azul Quantitativo FIM,"8,444.05",2.00,"16,902.20",2015/2,2,2015,2015-02-27 00:00:00,0.00,0.00,0.00,0.00,110.85,0.66,10
13,673,673.00,Azul Quantitativo FIM,"8,444.05",2.04,"17,221.74",2015/3,3,2015,2015-03-31 00:00:00,0.00,0.00,0.00,0.00,319.54,1.89,11
14,670,670.00,Azul Quantitativo FIM,"8,444.05",2.07,"17,499.61",2015/4,4,2015,2015-04-30 00:00:00,0.00,0.00,0.00,0.00,277.87,1.61,12
15,667,667.00,Azul Quantitativo FIM,"8,444.05",2.10,"17,715.72",2015/5,5,2015,2015-05-29 00:00:00,0.00,0.00,0.00,0.00,216.11,1.23,13
16,664,664.00,Azul Quantitativo FIM,"8,324.08",2.08,"17,329.29",2015/6,6,2015,2015-06-30 00:00:00,0.00,0.00,0.00,0.00,-386.43,-2.18,14
17,661,661.00,Azul Quantitativo FIM,"8,324.08",2.10,"17,488.41",2015/7,7,2015,2015-07-31 00:00:00,0.00,0.00,0.00,0.00,159.12,0.92,15
18,658,658.00,Azul Quantitativo FIM,"8,324.08",2.14,"17,776.56",2015/8,8,2015,2015-08-31 00:00:00,0.00,0.00,0.00,0.00,288.15,1.65,16
19,755,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,9,2015,0,0.00,0.00,"17,824.47","17,824.47",47.91,0.27,17
0,84,84.00,BBSE3,500.00,27.66,"13,830.00",2021/1,1,2021,2021-01-29 00:00:00,0.00,"14,320.00",0.00,0.00,-490.00,-3.42,1
1,102,102.00,BBSE3,500.00,25.43,"12,715.00",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00,"-1,115.00",-8.06,2
0,376,376.00,BCFF11,8.00,81.10,648.80,2014/5,5,2014,2014-05-30 00:00:00,5.87,0.00,0.00,0.00,648.80,inf,1
1,372,372.00,BCFF11,8.00,81.06,648.48,2014/6,6,2014,2014-06-30 00:00:00,5.70,0.00,0.00,0.00,-0.32,-0.05,2
2,368,368.00,BCFF11,8.00,72.50,580.00,2014/7,7,2014,2014-07-31 00:00:00,5.61,0.00,0.00,0.00,-68.48,-10.56,3
3,364,364.00,BCFF11,8.00,72.90,583.20,2014/8,8,2014,2014-08-29 00:00:00,3.96,0.00,0.00,0.00,3.20,0.55,4
4,360,360.00,BCFF11,8.00,70.00,560.00,2014/9,9,2014,2014-09-30 00:00:00,3.12,0.00,0.00,0.00,-23.20,-3.98,5
5,356,356.00,BCFF11,8.00,66.80,534.40,2014/10,10,2014,2014-10-31 00:00:00,3.04,0.00,0.00,0.00,-25.60,-4.57,6
6,346,346.00,BCFF11,8.00,63.49,507.92,2014/11,11,2014,2014-11-28 00:00:00,3.54,0.00,0.00,0.00,-26.48,-4.96,7
7,342,342.00,BCFF11,8.00,67.00,536.00,2014/12,12,2014,2014-12-30 00:00:00,3.75,0.00,0.00,0.00,28.08,5.53,8
8,338,338.00,BCFF11,8.00,66.84,534.72,2015/1,1,2015,2015-01-30 00:00:00,3.92,0.00,0.00,0.00,-1.28,-0.24,9
9,334,334.00,BCFF11,8.00,65.29,522.32,2015/2,2,2015,2015-02-27 00:00:00,5.79,0.00,0.00,0.00,-12.40,-2.32,10
10,330,330.00,BCFF11,8.00,63.50,508.00,2015/3,3,2015,2015-03-31 00:00:00,5.36,0.00,0.00,0.00,-14.32,-2.74,11
11,326,326.00,BCFF11,8.00,64.39,515.12,2015/4,4,2015,2015-04-30 00:00:00,5.12,0.00,0.00,0.00,7.12,1.40,12
12,322,322.00,BCFF11,8.00,66.98,535.84,2015/5,5,2015,2015-05-29 00:00:00,5.24,0.00,0.00,0.00,20.72,4.02,13
13,318,318.00,BCFF11,8.00,71.80,574.40,2015/6,6,2015,2015-06-30 00:00:00,5.49,0.00,0.00,0.00,38.56,7.20,14
14,314,314.00,BCFF11,8.00,69.70,557.60,2015/7,7,2015,2015-07-31 00:00:00,5.60,0.00,0.00,0.00,-16.80,-2.92,15
15,310,310.00,BCFF11,8.00,67.60,540.80,2015/8,8,2015,2015-08-31 00:00:00,5.32,0.00,0.00,0.00,-16.80,-3.01,16
16,293,293.00,BCFF11,8.00,61.50,492.00,2015/9,9,2015,2015-09-30 00:00:00,4.88,0.00,0.00,0.00,-48.80,-9.02,17
17,290,290.00,BCFF11,8.00,60.75,486.00,2015/10,10,2015,2015-10-30 00:00:00,4.80,0.00,0.00,0.00,-6.00,-1.22,18
18,287,287.00,BCFF11,8.00,59.51,476.08,2015/11,11,2015,2015-11-30 00:00:00,4.80,0.00,0.00,0.00,-9.92,-2.04,19
19,284,284.00,BCFF11,8.00,57.50,460.00,2015/12,12,2015,2015-12-31 00:00:00,4.80,0.00,0.00,0.00,-16.08,-3.38,20
20,267,267.00,BCFF11,8.00,52.50,420.00,2016/1,1,2016,2016-01-29 00:00:00,4.85,0.00,0.00,0.00,-40.00,-8.70,21
21,264,264.00,BCFF11,8.00,57.43,459.44,2016/2,2,2016,2016-02-29 00:00:00,4.89,0.00,0.00,0.00,39.44,9.39,22
22,261,261.00,BCFF11,8.00,63.29,506.32,2016/3,3,2016,2016-03-31 00:00:00,4.80,0.00,0.00,0.00,46.88,10.20,23
23,258,258.00,BCFF11,8.00,64.51,516.08,2016/4,4,2016,2016-04-29 00:00:00,4.00,0.00,0.00,0.00,9.76,1.93,24
24,246,246.00,BCFF11,8.00,67.29,538.32,2016/5,5,2016,2016-05-31 00:00:00,4.00,0.00,0.00,0.00,22.24,4.31,25
25,243,243.00,BCFF11,8.00,71.35,570.80,2016/6,6,2016,2016-06-30 00:00:00,7.36,0.00,0.00,0.00,32.48,6.03,26
26,240,240.00,BCFF11,8.00,71.10,568.80,2016/7,7,2016,2016-07-29 00:00:00,4.80,0.00,0.00,0.00,-2.00,-0.35,27
27,237,237.00,BCFF11,8.00,69.80,558.40,2016/8,8,2016,2016-08-31 00:00:00,4.48,0.00,0.00,0.00,-10.40,-1.83,28
28,234,234.00,BCFF11,8.00,69.40,555.20,2016/9,9,2016,2016-09-30 00:00:00,4.40,0.00,0.00,0.00,-3.20,-0.57,29
29,231,231.00,BCFF11,8.00,74.00,592.00,2016/10,10,2016,2016-10-31 00:00:00,4.40,0.00,0.00,0.00,36.80,6.63,30
30,228,228.00,BCFF11,8.00,69.49,555.92,2016/11,11,2016,2016-11-30 00:00:00,4.16,0.00,0.00,0.00,-36.08,-6.09,31
31,225,225.00,BCFF11,8.00,68.99,551.92,2016/12,12,2016,2016-12-29 00:00:00,4.32,0.00,0.00,0.00,-4.00,-0.72,32
32,222,222.00,BCFF11,8.00,70.50,564.00,2017/1,1,2017,2017-01-31 00:00:00,4.32,0.00,0.00,0.00,12.08,2.19,33
33,219,219.00,BCFF11,8.00,77.97,623.76,2017/2,2,2017,2017-02-24 00:00:00,4.40,0.00,0.00,0.00,59.76,10.60,34
34,207,207.00,BCFF11,11.00,74.15,592.45,2017/3,3,2017,2017-03-31 00:00:00,4.40,0.00,0.00,0.00,-31.31,-5.02,35
35,204,204.00,BCFF11,8.00,70.50,564.00,2017/4,4,2017,2017-04-28 00:00:00,4.40,0.00,0.00,0.00,-28.45,-4.80,36
36,201,201.00,BCFF11,8.00,71.35,570.80,2017/5,5,2017,2017-05-31 00:00:00,4.40,0.00,0.00,0.00,6.80,1.21,37
37,198,198.00,BCFF11,8.00,69.83,558.64,2017/6,6,2017,2017-06-30 00:00:00,4.00,0.00,0.00,0.00,-12.16,-2.13,38
38,195,195.00,BCFF11,8.00,70.70,565.60,2017/7,7,2017,2017-07-31 00:00:00,4.00,0.00,0.00,0.00,6.96,1.25,39
39,192,192.00,BCFF11,8.00,70.22,561.76,2017/8,8,2017,2017-08-31 00:00:00,4.00,0.00,0.00,0.00,-3.84,-0.68,40
40,189,189.00,BCFF11,8.00,70.70,565.60,2017/9,9,2017,2017-09-29 00:00:00,4.00,0.00,0.00,0.00,3.84,0.68,41
41,186,186.00,BCFF11,8.00,76.70,613.60,2017/10,10,2017,2017-10-31 00:00:00,3.96,0.00,0.00,0.00,48.00,8.49,42
42,183,183.00,BCFF11,8.00,78.50,628.00,2017/11,11,2017,2017-11-30 00:00:00,3.96,0.00,0.00,0.00,14.40,2.35,43
43,180,180.00,BCFF11,8.00,78.45,627.60,2017/12,12,2017,2017-12-28 00:00:00,3.96,0.00,0.00,0.00,-0.40,-0.06,44
44,172,172.00,BCFF11,8.00,81.40,651.20,2018/1,1,2018,2018-01-31 00:00:00,4.07,0.00,0.00,0.00,23.60,3.76,45
45,169,169.00,BCFF11,8.00,83.50,668.00,2018/2,2,2018,2018-02-28 00:00:00,3.96,0.00,0.00,0.00,16.80,2.58,46
46,166,166.00,BCFF11,8.00,87.25,698.00,2018/3,3,2018,2018-03-29 00:00:00,3.96,0.00,0.00,0.00,30.00,4.49,47
47,163,163.00,BCFF11,8.00,91.00,728.00,2018/4,4,2018,2018-04-30 00:00:00,3.96,0.00,0.00,0.00,30.00,4.30,48
48,160,160.00,BCFF11,8.00,82.02,656.16,2018/5,5,2018,2018-05-30 00:00:00,4.08,0.00,0.00,0.00,-71.84,-9.87,49
49,157,157.00,BCFF11,8.00,76.97,615.76,2018/6,6,2018,2018-06-29 00:00:00,4.08,0.00,0.00,0.00,-40.40,-6.16,50
50,154,154.00,BCFF11,8.00,76.49,611.92,2018/7,7,2018,2018-07-31 00:00:00,4.08,0.00,0.00,0.00,-3.84,-0.62,51
51,151,151.00,BCFF11,8.00,77.81,622.48,2018/8,8,2018,2018-08-31 00:00:00,4.24,0.00,0.00,0.00,10.56,1.73,52
52,148,148.00,BCFF11,8.00,77.37,618.96,2018/9,9,2018,2018-09-28 00:00:00,4.24,0.00,0.00,0.00,-3.52,-0.57,53
53,145,145.00,BCFF11,8.00,82.25,658.00,2018/10,10,2018,2018-10-31 00:00:00,4.24,0.00,0.00,0.00,39.04,6.31,54
54,383,383.00,BCFF11,8.00,81.60,652.80,2018/11,11,2018,2018-11-30 00:00:00,4.24,0.00,0.00,0.00,-5.20,-0.79,55
55,380,380.00,BCFF11,8.00,85.90,687.20,2018/12,12,2018,2018-12-28 00:00:00,4.64,0.00,0.00,0.00,34.40,5.27,56
56,353,353.00,BCFF11,8.00,87.90,703.20,2019/1,1,2019,2019-01-31 00:00:00,4.64,0.00,0.00,0.00,16.00,2.33,57
57,307,307.00,BCFF11,8.00,82.50,660.00,2019/2,2,2019,2019-02-28 00:00:00,4.24,0.00,0.00,0.00,-43.20,-6.14,58
58,276,276.00,BCFF11,8.00,84.40,675.20,2019/3,3,2019,2019-03-29 00:00:00,3.44,0.00,0.00,0.00,15.20,2.30,59
59,350,350.00,BCFF11,8.00,84.60,676.80,2019/4,4,2019,2019-04-30 00:00:00,4.24,0.00,0.00,0.00,1.60,0.24,60
60,118,118.00,BCFF11,8.00,85.87,686.96,2019/5,5,2019,2019-05-31 00:00:00,4.24,0.00,0.00,0.00,10.16,1.50,61
61,142,142.00,BCFF11,8.00,89.39,715.12,2019/6,6,2019,2019-06-28 00:00:00,4.24,0.00,0.00,0.00,28.16,4.10,62
62,139,139.00,BCFF11,8.00,96.99,775.92,2019/7,7,2019,2019-07-31 00:00:00,4.56,0.00,0.00,0.00,60.80,8.50,63
63,136,136.00,BCFF11,8.00,93.29,746.32,2019/8,8,2019,2019-08-30 00:00:00,4.56,0.00,0.00,0.00,-29.60,-3.81,64
64,304,304.00,BCFF11,11.00,93.50,730.50,2019/9,9,2019,2019-09-30 00:00:00,4.56,0.00,0.00,0.00,-15.82,-2.12,65
65,296,296.00,BCFF11,8.00,99.29,794.32,2019/10,10,2019,2019-10-31 00:00:00,4.56,0.00,0.00,0.00,63.82,8.74,66
66,255,255.00,BCFF11,8.00,105.77,846.16,2019/11,11,2019,2019-11-29 00:00:00,4.24,0.00,0.00,0.00,51.84,6.53,67
67,216,216.00,BCFF11,8.00,109.00,872.00,2019/12,12,2019,2019-12-31 00:00:00,4.24,0.00,0.00,0.00,25.84,3.05,68
68,299,299.00,BCFF11,12.00,108.04,834.76,2020/1,1,2020,2020-01-31 00:00:00,4.56,0.00,0.00,0.00,-37.24,-4.27,69
69,131,131.00,BCFF11,8.00,98.17,785.36,2020/2,2,2020,2020-02-28 00:00:00,4.56,0.00,0.00,0.00,-49.40,-5.92,70
70,126,126.00,BCFF11,8.00,78.02,624.16,2020/3,3,2020,2020-03-31 00:00:00,4.24,0.00,0.00,0.00,-161.20,-20.53,71
71,121,121.00,BCFF11,8.00,85.13,681.04,2020/4,4,2020,2020-04-30 00:00:00,3.20,0.00,0.00,0.00,56.88,9.11,72
72,279,279.00,BCFF11,8.00,84.09,"4,540.86",2020/5,5,2020,2020-05-29 00:00:00,3.20,"3,845.60",0.00,0.00,14.22,2.09,73
73,386,386.00,BCFF11,54.00,89.91,"4,855.14",2020/6,6,2020,2020-06-30 00:00:00,21.60,0.00,0.00,0.00,314.28,6.92,74
74,175,175.00,BCFF11,54.00,85.10,"4,595.40",2020/7,7,2020,2020-07-31 00:00:00,21.60,0.00,0.00,0.00,-259.74,-5.35,75
75,210,210.00,BCFF11,54.00,89.95,"4,857.30",2020/8,8,2020,2020-08-31 00:00:00,24.30,0.00,0.00,0.00,261.90,5.70,76
76,249,249.00,BCFF11,54.00,90.28,"4,875.12",2020/9,9,2020,2020-09-30 00:00:00,24.30,0.00,0.00,0.00,17.82,0.37,77
77,270,270.00,BCFF11,354.00,87.25,"30,886.50",2020/10,10,2020,2020-10-30 00:00:00,24.30,"27,180.00",0.00,0.00,"-1,168.62",-23.97,78
78,391,391.00,BCFF11,354.00,89.94,"31,838.76",2020/11,11,2020,2020-11-30 00:00:00,177.00,0.00,0.00,0.00,952.26,3.08,79
79,397,397.00,BCFF11,412.00,92.92,"38,283.04",2020/12,12,2020,2020-12-30 00:00:00,187.62,"5,138.80",0.00,0.00,"1,305.48",4.10,80
80,404,404.00,BCFF11,492.00,92.00,"49,864.00",2021/1,1,2021,2021-01-29 00:00:00,218.36,"23,985.00",0.00,0.00,"-12,404.04",-32.40,81
81,412,412.00,BCFF11,542.00,92.35,"50,053.70",2021/2,2,2021,2021-02-26 00:00:00,303.52,0.00,0.00,0.00,189.70,0.38,82
0,678,678.00,BNP Paribas Inflao FI RF,9.58,530.13,"5,080.90",2015/1,1,2015,2015-01-30 00:00:00,0.00,"5,000.00",0.00,0.00,80.90,1.62,1
1,675,675.00,BNP Paribas Inflao FI RF,19.72,523.00,"10,312.54",2015/2,2,2015,2015-02-27 00:00:00,0.00,"5,300.00",0.00,0.00,-68.36,-1.35,2
2,672,672.00,BNP Paribas Inflao FI RF,19.72,526.12,"10,374.11",2015/3,3,2015,2015-03-31 00:00:00,0.00,0.00,0.00,0.00,61.57,0.60,3
3,669,669.00,BNP Paribas Inflao FI RF,19.72,544.40,"10,734.60",2015/4,4,2015,2015-04-30 00:00:00,0.00,0.00,0.00,0.00,360.49,3.47,4
4,666,666.00,BNP Paribas Inflao FI RF,19.72,556.42,"10,971.63",2015/5,5,2015,2015-05-29 00:00:00,0.00,0.00,0.00,0.00,237.03,2.21,5
5,663,663.00,BNP Paribas Inflao FI RF,19.54,553.35,"10,815.04",2015/6,6,2015,2015-06-30 00:00:00,0.00,0.00,0.00,0.00,-156.59,-1.43,6
6,660,660.00,BNP Paribas Inflao FI RF,19.54,547.29,"10,696.57",2015/7,7,2015,2015-07-31 00:00:00,0.00,0.00,0.00,0.00,-118.47,-1.10,7
7,657,657.00,BNP Paribas Inflao FI RF,19.54,534.27,"10,442.12",2015/8,8,2015,2015-08-31 00:00:00,0.00,0.00,0.00,0.00,-254.45,-2.38,8
8,756,0.00,BNP Paribas Inflao FI RF,0.00,0.00,0.00,0,9,2015,0,0.00,0.00,"10,168.14","10,168.14",-273.98,-2.62,9
0,5,5.00,BPAC11,200.00,33.24,"6,648.00",2020/3,3,2020,2020-03-31 00:00:00,0.00,"7,190.00",0.00,0.00,-542.00,-7.54,1
1,0,0.00,BPAC11,200.00,42.30,"8,460.00",2020/4,4,2020,2020-04-30 00:00:00,0.00,0.00,0.00,0.00,"1,812.00",27.26,2
2,43,43.00,BPAC11,200.00,48.84,"9,768.00",2020/5,5,2020,2020-05-29 00:00:00,0.00,0.00,0.00,0.00,"1,308.00",15.46,3
3,53,53.00,BPAC11,78.00,49.60,"1,934.40",2020/6,6,2020,2020-06-30 00:00:00,0.00,0.00,"15,500.00",0.00,"7,666.40",78.48,4
4,12,12.00,BPAC11,26.00,86.42,"2,246.92",2020/7,7,2020,2020-07-31 00:00:00,0.00,0.00,0.00,0.00,312.52,16.16,5
5,18,18.00,BPAC11,26.00,80.33,"2,088.58",2020/8,8,2020,2020-08-31 00:00:00,13.03,0.00,0.00,0.00,-158.34,-7.05,6
6,26,26.00,BPAC11,26.00,72.85,"1,894.10",2020/9,9,2020,2020-09-30 00:00:00,13.03,0.00,0.00,0.00,-194.48,-9.31,7
7,35,35.00,BPAC11,26.00,72.50,"1,885.00",2020/10,10,2020,2020-10-30 00:00:00,0.00,0.00,0.00,0.00,-9.10,-0.48,8
8,59,59.00,BPAC11,26.00,79.22,"2,059.72",2020/11,11,2020,2020-11-30 00:00:00,13.03,0.00,0.00,0.00,174.72,9.27,9
9,69,69.00,BPAC11,26.00,94.00,"2,444.00",2020/12,12,2020,2020-12-30 00:00:00,0.00,0.00,0.00,0.00,384.28,18.66,10
10,85,85.00,BPAC11,26.00,95.05,"2,471.30",2021/1,1,2021,2021-01-29 00:00:00,29.21,0.00,0.00,0.00,27.30,1.12,11

In [18]:
df[df['data_posicao'] == 0].head()

,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado
746,746.00,CNES11,0.00,0.00,0.00,0,4,2014,0,0.00,885.17,0.00,0.00
747,747.00,OGXP3,0.00,0.00,0.00,0,6,2012,0,0.00,"4,955.00",0.00,0.00
748,748.00,OGXP3,0.00,0.00,0.00,0,4,2013,0,0.00,0.00,925.00,0.00
749,749.00,RBRF14,0.00,0.00,0.00,0,1,2021,0,0.00,"11,130.07",0.00,0.00
750,750.00,TBOF11,0.00,0.00,0.00,0,9,2015,0,0.00,0.00,"5,199.00",0.00

In [16]:
df.sort_values(['Papel', 'ano', 'mes']).head(100)

,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado
82,82.00,AAPL34,16.00,72.02,"1,152.32",2021/1,1,2021,2021-01-29 00:00:00,0.00,"1,126.88",0.00,0.00
100,100.00,AAPL34,16.00,69.69,"1,115.04",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00
68,68.00,AMZO34,48.00,109.30,"5,246.40",2020/12,12,2020,2020-12-30 00:00:00,0.00,"5,011.20",0.00,0.00
83,83.00,AMZO34,48.00,112.00,"5,376.00",2021/1,1,2021,2021-01-29 00:00:00,0.00,0.00,0.00,0.00
101,101.00,AMZO34,48.00,110.22,"5,290.56",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00
560,560.00,AZ Quest Multi FIC FIM,"1,516.42",9.95,"15,094.10",2017/3,3,2017,2017-03-31 00:00:00,0.00,"15,000.00",0.00,0.00
556,556.00,AZ Quest Multi FIC FIM,"1,516.42",10.00,"15,160.90",2017/4,4,2017,2017-04-28 00:00:00,0.00,0.00,0.00,0.00
552,552.00,AZ Quest Multi FIC FIM,"1,516.42",9.73,"14,749.34",2017/5,5,2017,2017-05-31 00:00:00,0.00,0.00,0.00,0.00
548,548.00,AZ Quest Multi FIC FIM,"1,516.42",9.80,"14,853.49",2017/6,6,2017,2017-06-30 00:00:00,0.00,0.00,0.00,0.00
544,544.00,AZ Quest Multi FIC FIM,"1,516.42",10.15,"15,389.53",2017/7,7,2017,2017-07-31 00:00:00,0.00,0.00,0.00,0.00
540,540.00,AZ Quest Multi FIC FIM,"1,516.42",10.32,"15,644.93",2017/8,8,2017,2017-08-31 00:00:00,0.00,0.00,0.00,0.00
536,536.00,AZ Quest Multi FIC FIM,"1,516.42",10.55,"16,004.66",2017/9,9,2017,2017-09-29 00:00:00,0.00,0.00,0.00,0.00
531,531.00,AZ Quest Multi FIC FIM,"1,516.42",10.51,"15,934.88",2017/10,10,2017,2017-10-31 00:00:00,0.00,0.00,0.00,0.00
526,526.00,AZ Quest Multi FIC FIM,"1,503.23",10.50,"15,784.72",2017/11,11,2017,2017-11-30 00:00:00,0.00,0.00,0.00,0.00
521,521.00,AZ Quest Multi FIC FIM,"1,503.23",10.62,"15,969.51",2017/12,12,2017,2017-12-28 00:00:00,0.00,0.00,0.00,0.00
509,509.00,AZ Quest Multi FIC FIM,"1,503.23",10.87,"16,347.11",2018/1,1,2018,2018-01-31 00:00:00,0.00,0.00,0.00,0.00
504,504.00,AZ Quest Multi FIC FIM,"1,503.23",11.03,"16,582.00",2018/2,2,2018,2018-02-28 00:00:00,0.00,0.00,0.00,0.00
499,499.00,AZ Quest Multi FIC FIM,"1,503.23",11.12,"16,712.40",2018/3,3,2018,2018-03-29 00:00:00,0.00,0.00,0.00,0.00
494,494.00,AZ Quest Multi FIC FIM,"1,503.23",11.13,"16,735.42",2018/4,4,2018,2018-04-30 00:00:00,0.00,0.00,0.00,0.00
489,489.00,AZ Quest Multi FIC FIM,"1,491.67",11.07,"16,509.69",2018/5,5,2018,2018-05-30 00:00:00,0.00,0.00,0.00,0.00
484,484.00,AZ Quest Multi FIC FIM,"1,491.67",11.21,"16,716.87",2018/6,6,2018,2018-06-29 00:00:00,0.00,0.00,0.00,0.00
479,479.00,AZ Quest Multi FIC FIM,"1,491.67",11.29,"16,837.61",2018/7,7,2018,2018-07-31 00:00:00,0.00,0.00,0.00,0.00
474,474.00,AZ Quest Multi FIC FIM,"1,491.67",11.28,"16,823.70",2018/8,8,2018,2018-08-31 00:00:00,0.00,0.00,0.00,0.00
469,469.00,AZ Quest Multi FIC FIM,"1,491.67",11.25,"16,786.05",2018/9,9,2018,2018-09-28 00:00:00,0.00,0.00,0.00,0.00
464,464.00,AZ Quest Multi FIC FIM,"1,491.67",11.53,"17,205.80",2018/10,10,2018,2018-10-31 00:00:00,0.00,0.00,0.00,0.00
724,724.00,AZ Quest Multi FIC FIM,"1,481.69",11.58,"17,164.88",2018/11,11,2018,2018-11-30 00:00:00,0.00,0.00,0.00,0.00
718,718.00,AZ Quest Multi FIC FIM,"1,481.69",11.61,"17,207.34",2018/12,12,2018,2018-12-28 00:00:00,0.00,0.00,0.00,0.00
694,694.00,AZ Quest Multi FIC FIM,"1,481.69",11.81,"17,497.00",2019/1,1,2019,2019-01-31 00:00:00,0.00,0.00,0.00,0.00
651,651.00,AZ Quest Multi FIC FIM,"1,481.69",11.75,"17,413.09",2019/2,2,2019,2019-02-28 00:00:00,0.00,0.00,0.00,0.00
618,618.00,AZ Quest Multi FIC FIM,"1,481.69",11.72,"17,370.50",2019/3,3,2019,2019-03-29 00:00:00,0.00,0.00,0.00,0.00
688,688.00,AZ Quest Multi FIC FIM,"1,481.69",11.72,"17,367.77",2019/4,4,2019,2019-04-30 00:00:00,0.00,0.00,0.00,0.00
421,421.00,AZ Quest Multi FIC FIM,"1,476.76",11.85,"17,496.02",2019/5,5,2019,2019-05-31 00:00:00,0.00,0.00,0.00,0.00
458,458.00,AZ Quest Multi FIC FIM,"1,476.76",12.10,"17,872.39",2019/6,6,2019,2019-06-28 00:00:00,0.00,0.00,0.00,0.00
452,452.00,AZ Quest Multi FIC FIM,"1,476.76",12.13,"17,914.04",2019/7,7,2019,2019-07-31 00:00:00,0.00,0.00,0.00,0.00
446,446.00,AZ Quest Multi FIC FIM,"1,476.76",12.16,"17,956.62",2019/8,8,2019,2019-08-30 00:00:00,0.00,0.00,0.00,0.00
645,645.00,AZ Quest Multi FIC FIM,"1,476.76",12.33,"18,214.14",2019/9,9,2019,2019-09-30 00:00:00,0.00,0.00,0.00,0.00
632,632.00,AZ Quest Multi FIC FIM,"1,476.76",12.54,"18,525.29",2019/10,10,2019,2019-10-31 00:00:00,0.00,0.00,0.00,0.00
607,607.00,AZ Quest Multi FIC FIM,"1,464.80",12.52,"18,345.13",2019/11,11,2019,2019-11-29 00:00:00,0.00,0.00,0.00,0.00
571,571.00,AZ Quest Multi FIC FIM,"1,464.80",12.74,"18,661.13",2019/12,12,2019,2019-12-31 00:00:00,0.00,0.00,0.00,0.00
639,639.00,AZ Quest Multi FIC FIM,"1,464.80",12.84,"18,801.04",2020/1,1,2020,2020-01-31 00:00:00,0.00,0.00,0.00,0.00
440,440.00,AZ Quest Multi FIC FIM,"1,464.80",12.95,"18,967.40",2020/2,2,2020,2020-02-28 00:00:00,0.00,0.00,0.00,0.00
751,0.00,AZ Quest Multi FIC FIM,0.00,0.00,0.00,0,3,2020,0,0.00,0.00,"18,591.84","18,591.84"
752,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,6,2013,0,0.00,"5,000.00",0.00,0.00
753,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,8,2013,0,0.00,"10,200.00",0.00,0.00
754,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,11,2013,0,0.00,0.00,0.00,0.00
716,716.00,Azul Quantitativo FIM,"8,519.86",1.90,"16,166.59",2014/5,5,2014,2014-05-30 00:00:00,0.00,0.00,0.00,0.00
713,713.00,Azul Quantitativo FIM,"8,474.19",1.89,"16,006.63",2014/6,6,2014,2014-06-30 00:00:00,0.00,0.00,0.00,0.00
710,710.00,Azul Quantitativo FIM,"8,474.19",1.88,"15,913.56",2014/7,7,2014,2014-07-31 00:00:00,0.00,0.00,0.00,0.00
707,707.00,Azul Quantitativo FIM,"8,474.19",1.89,"16,004.89",2014/8,8,2014,2014-08-29 00:00:00,0.00,0.00,0.00,0.00
704,704.00,Azul Quantitativo FIM,"8,474.19",1.94,"16,421.65",2014/9,9,2014,2014-09-30 00:00:00,0.00,0.00,0.00,0.00
701,701.00,Azul Quantitativo FIM,"8,474.19",1.92,"16,307.95",2014/10,10,2014,2014-10-31 00:00:00,0.00,0.00,0.00,0.00
686,686.00,Azul Quantitativo FIM,"8,474.19",1.95,"16,487.15",2014/11,11,2014,2014-11-28 00:00:00,0.00,0.00,0.00,0.00
683,683.00,Azul Quantitativo FIM,"8,444.05",1.96,"16,548.83",2014/12,12,2014,2014-12-30 00:00:00,0.00,0.00,0.00,0.00
680,680.00,Azul Quantitativo FIM,"8,444.05",1.99,"16,791.35",2015/1,1,2015,2015-01-30 00:00:00,0.00,0.00,0.00,0.00
676,676.00,Azul Quantitativo FIM,"8,444.05",2.00,"16,902.20",2015/2,2,2015,2015-02-27 00:00:00,0.00,0.00,0.00,0.00
673,673.00,Azul Quantitativo FIM,"8,444.05",2.04,"17,221.74",2015/3,3,2015,2015-03-31 00:00:00,0.00,0.00,0.00,0.00
670,670.00,Azul Quantitativo FIM,"8,444.05",2.07,"17,499.61",2015/4,4,2015,2015-04-30 00:00:00,0.00,0.00,0.00,0.00
667,667.00,Azul Quantitativo FIM,"8,444.05",2.10,"17,715.72",2015/5,5,2015,2015-05-29 00:00:00,0.00,0.00,0.00,0.00
664,664.00,Azul Quantitativo FIM,"8,324.08",2.08,"17,329.29",2015/6,6,2015,2015-06-30 00:00:00,0.00,0.00,0.00,0.00
661,661.00,Azul Quantitativo FIM,"8,324.08",2.10,"17,488.41",2015/7,7,2015,2015-07-31 00:00:00,0.00,0.00,0.00,0.00
658,658.00,Azul Quantitativo FIM,"8,324.08",2.14,"17,776.56",2015/8,8,2015,2015-08-31 00:00:00,0.00,0.00,0.00,0.00
755,0.00,Azul Quantitativo FIM,0.00,0.00,0.00,0,9,2015,0,0.00,0.00,"17,824.47","17,824.47"
84,84.00,BBSE3,500.00,27.66,"13,830.00",2021/1,1,2021,2021-01-29 00:00:00,0.00,"14,320.00",0.00,0.00
102,102.00,BBSE3,500.00,25.43,"12,715.00",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00
376,376.00,BCFF11,8.00,81.10,648.80,2014/5,5,2014,2014-05-30 00:00:00,5.87,0.00,0.00,0.00
372,372.00,BCFF11,8.00,81.06,648.48,2014/6,6,2014,2014-06-30 00:00:00,5.70,0.00,0.00,0.00
368,368.00,BCFF11,8.00,72.50,580.00,2014/7,7,2014,2014-07-31 00:00:00,5.61,0.00,0.00,0.00
364,364.00,BCFF11,8.00,72.90,583.20,2014/8,8,2014,2014-08-29 00:00:00,3.96,0.00,0.00,0.00
360,360.00,BCFF11,8.00,70.00,560.00,2014/9,9,2014,2014-09-30 00:00:00,3.12,0.00,0.00,0.00
356,356.00,BCFF11,8.00,66.80,534.40,2014/10,10,2014,2014-10-31 00:00:00,3.04,0.00,0.00,0.00
346,346.00,BCFF11,8.00,63.49,507.92,2014/11,11,2014,2014-11-28 00:00:00,3.54,0.00,0.00,0.00
342,342.00,BCFF11,8.00,67.00,536.00,2014/12,12,2014,2014-12-30 00:00:00,3.75,0.00,0.00,0.00
338,338.00,BCFF11,8.00,66.84,534.72,2015/1,1,2015,2015-01-30 00:00:00,3.92,0.00,0.00,0.00
334,334.00,BCFF11,8.00,65.29,522.32,2015/2,2,2015,2015-02-27 00:00:00,5.79,0.00,0.00,0.00
330,330.00,BCFF11,8.00,63.50,508.00,2015/3,3,2015,2015-03-31 00:00:00,5.36,0.00,0.00,0.00
326,326.00,BCFF11,8.00,64.39,515.12,2015/4,4,2015,2015-04-30 00:00:00,5.12,0.00,0.00,0.00
322,322.00,BCFF11,8.00,66.98,535.84,2015/5,5,2015,2015-05-29 00:00:00,5.24,0.00,0.00,0.00
318,318.00,BCFF11,8.00,71.80,574.40,2015/6,6,2015,2015-06-30 00:00:00,5.49,0.00,0.00,0.00
314,314.00,BCFF11,8.00,69.70,557.60,2015/7,7,2015,2015-07-31 00:00:00,5.60,0.00,0.00,0.00
310,310.00,BCFF11,8.00,67.60,540.80,2015/8,8,2015,2015-08-31 00:00:00,5.32,0.00,0.00,0.00
293,293.00,BCFF11,8.00,61.50,492.00,2015/9,9,2015,2015-09-30 00:00:00,4.88,0.00,0.00,0.00
290,290.00,BCFF11,8.00,60.75,486.00,2015/10,10,2015,2015-10-30 00:00:00,4.80,0.00,0.00,0.00
287,287.00,BCFF11,8.00,59.51,476.08,2015/11,11,2015,2015-11-30 00:00:00,4.80,0.00,0.00,0.00
284,284.00,BCFF11,8.00,57.50,460.00,2015/12,12,2015,2015-12-31 00:00:00,4.80,0.00,0.00,0.00
267,267.00,BCFF11,8.00,52.50,420.00,2016/1,1,2016,2016-01-29 00:00:00,4.85,0.00,0.00,0.00
264,264.00,BCFF11,8.00,57.43,459.44,2016/2,2,2016,2016-02-29 00:00:00,4.89,0.00,0.00,0.00
261,261.00,BCFF11,8.00,63.29,506.32,2016/3,3,2016,2016-03-31 00:00:00,4.80,0.00,0.00,0.00
258,258.00,BCFF11,8.00,64.51,516.08,2016/4,4,2016,2016-04-29 00:00:00,4.00,0.00,0.00,0.00
246,246.00,BCFF11,8.00,67.29,538.32,2016/5,5,2016,2016-05-31 00:00:00,4.00,0.00,0.00,0.00
243,243.00,BCFF11,8.00,71.35,570.80,2016/6,6,2016,2016-06-30 00:00:00,7.36,0.00,0.00,0.00
240,240.00,BCFF11,8.00,71.10,568.80,2016/7,7,2016,2016-07-29 00:00:00,4.80,0.00,0.00,0.00
237,237.00,BCFF11,8.00,69.80,558.40,2016/8,8,2016,2016-08-31 00:00:00,4.48,0.00,0.00,0.00
234,234.00,BCFF11,8.00,69.40,555.20,2016/9,9,2016,2016-09-30 00:00:00,4.40,0.00,0.00,0.00
231,231.00,BCFF11,8.00,74.00,592.00,2016/10,10,2016,2016-10-31 00:00:00,4.40,0.00,0.00,0.00
228,228.00,BCFF11,8.00,69.49,555.92,2016/11,11,2016,2016-11-30 00:00:00,4.16,0.00,0.00,0.00
225,225.00,BCFF11,8.00,68.99,551.92,2016/12,12,2016,2016-12-29 00:00:00,4.32,0.00,0.00,0.00
222,222.00,BCFF11,8.00,70.50,564.00,2017/1,1,2017,2017-01-31 00:00:00,4.32,0.00,0.00,0.00
219,219.00,BCFF11,8.00,77.97,623.76,2017/2,2,2017,2017-02-24 00:00:00,4.40,0.00,0.00,0.00
207,207.00,BCFF11,11.00,74.15,592.45,2017/3,3,2017,2017-03-31 00:00:00,4.40,0.00,0.00,0.00
204,204.00,BCFF11,8.00,70.50,564.00,2017/4,4,2017,2017-04-28 00:00:00,4.40,0.00,0.00,0.00

In [8]:
df2 = extract.extract_fis.rename(columns={
    'Nome': 'Papel'#, 
    #'Vlr Aporte': 'aporte', 
    #'Vlr Resgate': 'retirada'
})

df2 = df2.groupby(['Papel', 'ano', 'mes'])\
        .agg(vlr_aporte=('Vlr Aporte', 'sum'), 
            vlr_resgate=('Vlr Resgate', 'sum'), 
            rendimento_resgatado=('Rendimento Resgatado', 'sum')).reset_index()

df3 = df.merge(df2, 
        how='outer', 
        left_on=['ano', 'mes', 'Papel'], 
        right_on=['ano', 'mes', 'Papel']).fillna(0)

df3['aporte'] = df3['vlr_aporte'] + df3['aporte']
df3['retirada'] = df3['vlr_resgate'] + df3['retirada']
df3.drop(columns=['vlr_aporte', 'vlr_resgate'], inplace=True)

In [9]:
#df2[df2['Papel'] == 'BCFF11'].sort_values(['ano', 'mes']).tail()
df3.sort_values(['Papel', 'ano', 'mes']).head(30)

,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado_x,rendimento_resgatado_y
82,82.00,AAPL34,16.00,72.02,"1,152.32",2021/1,1,2021,2021-01-29 00:00:00,0.00,"1,126.88",0.00,0.00,0.00
100,100.00,AAPL34,16.00,69.69,"1,115.04",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00,0.00
68,68.00,AMZO34,48.00,109.30,"5,246.40",2020/12,12,2020,2020-12-30 00:00:00,0.00,"5,011.20",0.00,0.00,0.00
83,83.00,AMZO34,48.00,112.00,"5,376.00",2021/1,1,2021,2021-01-29 00:00:00,0.00,0.00,0.00,0.00,0.00
101,101.00,AMZO34,48.00,110.22,"5,290.56",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00,0.00
560,560.00,AZ Quest Multi FIC FIM,"1,516.42",9.95,"15,094.10",2017/3,3,2017,2017-03-31 00:00:00,0.00,"30,000.00",0.00,0.00,0.00
556,556.00,AZ Quest Multi FIC FIM,"1,516.42",10.00,"15,160.90",2017/4,4,2017,2017-04-28 00:00:00,0.00,0.00,0.00,0.00,0.00
552,552.00,AZ Quest Multi FIC FIM,"1,516.42",9.73,"14,749.34",2017/5,5,2017,2017-05-31 00:00:00,0.00,0.00,0.00,0.00,0.00
548,548.00,AZ Quest Multi FIC FIM,"1,516.42",9.80,"14,853.49",2017/6,6,2017,2017-06-30 00:00:00,0.00,0.00,0.00,0.00,0.00
544,544.00,AZ Quest Multi FIC FIM,"1,516.42",10.15,"15,389.53",2017/7,7,2017,2017-07-31 00:00:00,0.00,0.00,0.00,0.00,0.00
540,540.00,AZ Quest Multi FIC FIM,"1,516.42",10.32,"15,644.93",2017/8,8,2017,2017-08-31 00:00:00,0.00,0.00,0.00,0.00,0.00
536,536.00,AZ Quest Multi FIC FIM,"1,516.42",10.55,"16,004.66",2017/9,9,2017,2017-09-29 00:00:00,0.00,0.00,0.00,0.00,0.00
531,531.00,AZ Quest Multi FIC FIM,"1,516.42",10.51,"15,934.88",2017/10,10,2017,2017-10-31 00:00:00,0.00,0.00,0.00,0.00,0.00
526,526.00,AZ Quest Multi FIC FIM,"1,503.23",10.50,"15,784.72",2017/11,11,2017,2017-11-30 00:00:00,0.00,0.00,0.00,0.00,0.00
521,521.00,AZ Quest Multi FIC FIM,"1,503.23",10.62,"15,969.51",2017/12,12,2017,2017-12-28 00:00:00,0.00,0.00,0.00,0.00,0.00
509,509.00,AZ Quest Multi FIC FIM,"1,503.23",10.87,"16,347.11",2018/1,1,2018,2018-01-31 00:00:00,0.00,0.00,0.00,0.00,0.00
504,504.00,AZ Quest Multi FIC FIM,"1,503.23",11.03,"16,582.00",2018/2,2,2018,2018-02-28 00:00:00,0.00,0.00,0.00,0.00,0.00
499,499.00,AZ Quest Multi FIC FIM,"1,503.23",11.12,"16,712.40",2018/3,3,2018,2018-03-29 00:00:00,0.00,0.00,0.00,0.00,0.00
494,494.00,AZ Quest Multi FIC FIM,"1,503.23",11.13,"16,735.42",2018/4,4,2018,2018-04-30 00:00:00,0.00,0.00,0.00,0.00,0.00
489,489.00,AZ Quest Multi FIC FIM,"1,491.67",11.07,"16,509.69",2018/5,5,2018,2018-05-30 00:00:00,0.00,0.00,0.00,0.00,0.00
484,484.00,AZ Quest Multi FIC FIM,"1,491.67",11.21,"16,716.87",2018/6,6,2018,2018-06-29 00:00:00,0.00,0.00,0.00,0.00,0.00
479,479.00,AZ Quest Multi FIC FIM,"1,491.67",11.29,"16,837.61",2018/7,7,2018,2018-07-31 00:00:00,0.00,0.00,0.00,0.00,0.00
474,474.00,AZ Quest Multi FIC FIM,"1,491.67",11.28,"16,823.70",2018/8,8,2018,2018-08-31 00:00:00,0.00,0.00,0.00,0.00,0.00
469,469.00,AZ Quest Multi FIC FIM,"1,491.67",11.25,"16,786.05",2018/9,9,2018,2018-09-28 00:00:00,0.00,0.00,0.00,0.00,0.00
464,464.00,AZ Quest Multi FIC FIM,"1,491.67",11.53,"17,205.80",2018/10,10,2018,2018-10-31 00:00:00,0.00,0.00,0.00,0.00,0.00
724,724.00,AZ Quest Multi FIC FIM,"1,481.69",11.58,"17,164.88",2018/11,11,2018,2018-11-30 00:00:00,0.00,0.00,0.00,0.00,0.00
718,718.00,AZ Quest Multi FIC FIM,"1,481.69",11.61,"17,207.34",2018/12,12,2018,2018-12-28 00:00:00,0.00,0.00,0.00,0.00,0.00
694,694.00,AZ Quest Multi FIC FIM,"1,481.69",11.81,"17,497.00",2019/1,1,2019,2019-01-31 00:00:00,0.00,0.00,0.00,0.00,0.00
651,651.00,AZ Quest Multi FIC FIM,"1,481.69",11.75,"17,413.09",2019/2,2,2019,2019-02-28 00:00:00,0.00,0.00,0.00,0.00,0.00
618,618.00,AZ Quest Multi FIC FIM,"1,481.69",11.72,"17,370.50",2019/3,3,2019,2019-03-29 00:00:00,0.00,0.00,0.00,0.00,0.00

In [10]:
df3[df3['Papel'] == 'BCFF11'].sort_values(['ano', 'mes']).tail()

,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado_x,rendimento_resgatado_y
270,270.00,BCFF11,354.00,87.25,"30,886.50",2020/10,10,2020,2020-10-30 00:00:00,24.30,"27,180.00",0.00,0.00,0.00
391,391.00,BCFF11,354.00,89.94,"31,838.76",2020/11,11,2020,2020-11-30 00:00:00,177.00,0.00,0.00,0.00,0.00
397,397.00,BCFF11,412.00,92.92,"38,283.04",2020/12,12,2020,2020-12-30 00:00:00,187.62,"5,138.80",0.00,0.00,0.00
404,404.00,BCFF11,492.00,92.00,"49,864.00",2021/1,1,2021,2021-01-29 00:00:00,218.36,"23,985.00",0.00,0.00,0.00
412,412.00,BCFF11,542.00,92.35,"50,053.70",2021/2,2,2021,2021-02-26 00:00:00,303.52,0.00,0.00,0.00,0.00

In [11]:
df3.groupby(['Papel', 'mes', 'ano']).agg(cont=('Papel', 'count')).reset_index().sort_values('cont', ascending=False).head()

                    Papel  mes   ano  cont
0                  AAPL34    1  2021     1
535  Polo Norte I FIC FIM    5  2019     1
513                 PETR4    3  2020     1
514                 PETR4    4  2020     1
515                 PETR4    5  2020     1

In [12]:
extract.extract_fis.head()

,Nome,ano,mes,Vlr Aporte,Vlr Resgate,Vlr IR,Rendimento Resgatado
0,AZ Quest Multi FIC FIM,2017,3,"15,000.00",0.00,0.00,0.00
1,Azul Quantitativo FIM,2013,6,"5,000.00",0.00,0.00,0.00
2,Azul Quantitativo FIM,2013,8,"10,200.00",0.00,0.00,0.00
3,BNP Paribas Inflao FI RF,2015,1,"5,000.00",0.00,0.00,0.00
4,BNP Paribas Inflao FI RF,2015,2,"5,300.00",0.00,0.00,0.00

In [13]:
## Estou aqui!!! Falta dar o merge do extrato, comeando com o de aes e fiis. 

df.sort_values(['Papel', 'ano', 'mes']).head()

,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado
82,82.00,AAPL34,16.00,72.02,"1,152.32",2021/1,1,2021,2021-01-29 00:00:00,0.00,"1,126.88",0.00,0.00
100,100.00,AAPL34,16.00,69.69,"1,115.04",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00
68,68.00,AMZO34,48.00,109.30,"5,246.40",2020/12,12,2020,2020-12-30 00:00:00,0.00,"5,011.20",0.00,0.00
83,83.00,AMZO34,48.00,112.00,"5,376.00",2021/1,1,2021,2021-01-29 00:00:00,0.00,0.00,0.00,0.00
101,101.00,AMZO34,48.00,110.22,"5,290.56",2021/2,2,2021,2021-02-26 00:00:00,0.00,0.00,0.00,0.00

In [14]:
df[df['Papel'] == 'BCFF11'].sort_values('data_posicao').tail()

,index,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo,aporte,retirada,rendimento_resgatado
270,270.00,BCFF11,354.00,87.25,"30,886.50",2020/10,10,2020,2020-10-30 00:00:00,24.30,"27,180.00",0.00,0.00
391,391.00,BCFF11,354.00,89.94,"31,838.76",2020/11,11,2020,2020-11-30 00:00:00,177.00,0.00,0.00,0.00
397,397.00,BCFF11,412.00,92.92,"38,283.04",2020/12,12,2020,2020-12-30 00:00:00,187.62,"5,138.80",0.00,0.00
404,404.00,BCFF11,492.00,92.00,"49,864.00",2021/1,1,2021,2021-01-29 00:00:00,218.36,"23,985.00",0.00,0.00
412,412.00,BCFF11,542.00,92.35,"50,053.70",2021/2,2,2021,2021-02-26 00:00:00,303.52,0.00,0.00,0.00

In [15]:
df_ext[df_ext['Papel'].str.contains('OGXP3')].sort_values('Data')

NameError: name 'df_ext' is not defined

In [9]:
extract.extrato_acoes.head()

     Papel Categoria    Tipo  Qtde  Preco       Data   ano  mes
0    OGXP3      ACAO  COMPRA   500   9.91 2012-06-04  2012    6
1    OGXP3      ACAO   VENDA   500   1.85 2013-04-26  2013    4
6    MGLU3      ACAO  COMPRA   800  34.50 2019-09-12  2019    9
9    JHSF3      ACAO  COMPRA  1600   8.09 2020-01-31  2020    1
10  BPAC11      ACAO  COMPRA   200  35.95 2020-03-13  2020    3

In [10]:
extract.extrato_fiis.head()

    Papel Categoria    Tipo  Qtde  Preco       Data   ano  mes
2  CNES11       FII  COMPRA    11  80.47 2014-04-30  2014    4
3  TBOF11       FII  COMPRA   100  52.00 2014-07-31  2014    7
4  RNGO11       FII  COMPRA    49  83.89 2014-07-31  2014    7
5  TBOF11       FII   VENDA   100  51.99 2015-09-30  2015    9
7  OULG11       FII  COMPRA    50 113.55 2020-01-20  2020    1

In [11]:
position.fiis.head()

,Papel,Qtd Disponivel,Qtd Projetada,Qtd Dia,Qtde Total,Ult Cotacao,Financeiro,period,mes,ano,data_posicao
0,BCFF11,8,0,0,8.00,85.87,686.96,2019/5,5,2019,2019-05-31
1,CNES11,11,0,0,11.00,76.00,836.00,2019/5,5,2019,2019-05-31
2,RNGO11,49,0,0,49.00,84.30,"4,130.70",2019/5,5,2019,2019-05-31
3,BCFF11,8,0,0,8.00,85.13,681.04,2020/4,4,2020,2020-04-30
4,CNES11,11,0,0,11.00,70.00,770.00,2020/4,4,2020,2020-04-30

In [12]:
position.fis[(position.fis['Valor Bruto'] != position.fis['Total Bruto']) & (~position.fis['Total Bruto'].isnull())].head(100)

Empty DataFrame
Columns: [Nome, Data, Qtd Cotas, Valor Cota, Valor Bruto, IR, IOF, Valor Liquido, Aplicacao Pendente, Total Bruto, period, mes, ano, data_posicao]
Index: []

In [13]:
## Estou aqui!! Juntei os datasets de posio, falta agora os de dividendos. 

#print(position.stocks.columns)
#print(position.fiis.columns)
#print(position.fis.columns)

df1 = position.stocks[['Papel', 'Qtd Disponivel',
       'Cotacao', 'Financeiro', 'period', 'mes', 'ano',
       'data_posicao']]

df2 = position.fiis[['Papel', 'Qtd Disponivel', 
            'Ult Cotacao', 'Financeiro', 'period', 'mes', 'ano', 
            'data_posicao']]\
           .rename(columns={'Ult Cotacao': 'Cotacao'})

df2['Financeiro'] = np.where(df2['Financeiro'] == 0, 
        df2['Qtd Disponivel'] * df2['Cotacao'], 
        df2['Financeiro']) # trata os valores vazios de Financeiro. 

# ToDo: Depois acrescentar esses campos: 'IR', 'IOF', 'Valor Liquido'
df3 = position.fis[['Nome', 'Qtd Cotas', 'Valor Cota', 'Valor Bruto', 
                    'period', 'mes',
                    'ano', 'data_posicao']]\
            .rename(columns={'Nome': 'Papel',
                            'Qtd Cotas': 'Qtd Disponivel', 
                            'Valor Cota': 'Cotacao', 
                            'Valor Bruto': 'Financeiro'})                            

df4 = position.stocks_profits\
        .groupby(['Papel', 'data_posicao'])\
            .agg(Valor=('Valor', 'sum'))\
        .reset_index()

df5 = extract.fiis_profits\
            .groupby(['Descricao', 'ano', 'mes'])\
                .agg(Valor=('Valor', 'sum'))\
            .reset_index()\
            .rename(columns={'Descricao': 'Papel'})

df_result = df1.append(df2, ignore_index=True).append(df3, ignore_index=True)   


df_result = df_result.merge(df4, 
                        how='outer', 
                        left_on=['Papel', 'data_posicao'], 
                        right_on=['Papel', 'data_posicao'])\
                    .fillna(0)
                    
df_result = df_result.merge(df5, 
                        how='left', # existem dividendos de periodos sem posicao ex.: BCFF11
                        left_on=['Papel', 'ano', 'mes'], 
                        right_on=['Papel', 'ano', 'mes'])\
                    .fillna(0)
df_result['dividendo'] = df_result['Valor_x'] + df_result['Valor_y']
df_result.drop(columns=['Valor_x', 'Valor_y'], inplace=True)


df_result.sort_values(by=['data_posicao', 'Papel']).tail()

,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao,dividendo
417,RBRF11,119.00,94.46,"11,240.74",2021/2,2,2021,2021-02-26,5.54
418,RNGO11,49.00,64.49,"3,160.01",2021/2,2,2021,2021-02-26,19.11
116,TSLA34,50.00,118.00,"5,900.00",2021/2,2,2021,2021-02-26,0.00
117,WEGE3,300.00,77.70,"23,310.00",2021/2,2,2021,2021-02-26,21.40
419,XPLG11,79.00,120.50,"9,519.50",2021/2,2,2021,2021-02-26,31.46

In [14]:
df2[df2['Papel'] == 'BCFF11'].sort_values('data_posicao').head(10)

,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao
258,BCFF11,8,81.10,648.80,2014/5,5,2014,2014-05-30
254,BCFF11,8,81.06,648.48,2014/6,6,2014,2014-06-30
250,BCFF11,8,72.50,580.00,2014/7,7,2014,2014-07-31
246,BCFF11,8,72.90,583.20,2014/8,8,2014,2014-08-29
242,BCFF11,8,70.00,560.00,2014/9,9,2014,2014-09-30
238,BCFF11,8,66.80,534.40,2014/10,10,2014,2014-10-31
228,BCFF11,8,63.49,507.92,2014/11,11,2014,2014-11-28
224,BCFF11,8,67.00,536.00,2014/12,12,2014,2014-12-30
220,BCFF11,8,66.84,534.72,2015/1,1,2015,2015-01-30
216,BCFF11,8,65.29,522.32,2015/2,2,2015,2015-02-27

In [15]:
df5[df5['Valor'] == 0].head()

Empty DataFrame
Columns: [Papel, ano, mes, Valor]
Index: []

In [16]:
print(df2.info())
print(df5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Papel           302 non-null    object
 1   Qtd Disponivel  302 non-null    int64
 2   Cotacao         302 non-null    float64
 3   Financeiro      302 non-null    float64
 4   period          302 non-null    object
 5   mes             302 non-null    int64
 6   ano             302 non-null    int64
 7   data_posicao    302 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 19.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Papel   395 non-null    object
 1   ano     395 non-null    int64
 2   mes     395 non-null    int64
 3   Valor   395 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 12.5+ KB
None

In [17]:
df_result[df_result['Valor_y'] > 0].head()

KeyError: 'Valor_y'

In [18]:
df5 = extract.fiis_profits\
            .groupby(['Descricao', 'Mov'])\
                .agg(Valor=('Valor', 'sum'))\
            .reset_index()\
            .rename(columns={'Descricao': 'Papel', 
                            'Mov': 'Data'})

df2 = position.stocks_profits\
        .groupby(['Papel', 'data_posicao'])\
            .agg(Valor=('Valor', 'sum'))\
        .reset_index().sort_values('Papel')\
        .rename(columns={'data_posicao': 'Data'})                            

df3 = df1.append(df2, ignore_index=True)

In [56]:
df3.head()

,Papel,Qtd Disponivel,Cotacao,Financeiro,period,mes,ano,data_posicao
0,XP Long Short FIC FIM,"6,914.97",2.84,"19,638.20",2019/5,5,2019,2019-05-31
1,AZ Quest Multi FIC FIM,"1,476.76",11.85,"17,496.02",2019/5,5,2019,2019-05-31
2,Mau Macro FIC FIM,37.37,706.87,"26,413.30",2019/5,5,2019,2019-05-31
3,Bahia AM Mara FIC de FIM,"33,993.07",2.45,"83,382.14",2019/5,5,2019,2019-05-31
4,XP Macro FIM,"7,128.20",1.45,"10,353.74",2019/5,5,2019,2019-05-31

In [57]:
extract.fiis_profits.head()

         Liq        Mov Descricao  Valor    Saldo   ano  mes
4 2020-05-28 2020-05-28    CNES11   1.81 1,478.00  2020    5
5 2020-05-22 2020-05-22    OULG11  32.80 1,476.19  2020    5
6 2020-05-19 2020-05-19    IBFF11  11.91 1,443.39  2020    5
7 2020-05-15 2020-05-15    RNGO11  20.58 1,431.48  2020    5
8 2020-05-15 2020-05-15    BCFF11   3.20 1,410.90  2020    5